body{
    margin: 0;
    padding: 0;
}
header{
   
    position: relative;
    width: auto;
    height: 420px;
    background-image: url("a1.png");
    background-repeat: no-repeat;
}
section{
    display: flex;
    gap: 2%;
    margin: 30px 40px 0px;
}
section>div{
    height: 200px;
    width: 80%;
    border: solid 1px;
    border-radius: 10px;
}
.a{
    display: flex;
    justify-content: space-between;
}
.p1{transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    height:200px;
    width: 100%;
    border-radius: 10px;
}
.p1:hover{
    transform: scale(1.1); 
      opacity: 0.7;
      border: 2px solid blue;
}
section>div>h3{
     margin-left: 100px;
    box-sizing:border-box;
}
.f{
    height: 100px;
    width: 100px;
}
.b{
    
    display: flex;
    gap: 6px;
    position: relative;
}
.c img:hover{
transform: scale(1.1); 
      opacity: 1;
      border: 3px solid blue;    
}
.c{
    cursor: pointer;
    height: 250px;

    width:100%;
    padding: 20px;
    border-radius: 20px;
}
.c img{
  transition: transform 0.3s ease, opacity 0.3s ease;
    height: 200px;
    width: 90%;
    border-radius: 15px;
    position: relative;
}

.section3{
    margin: 10px 40px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 18px;
}



footer{
    background-color: beige;
    margin: 30px 0px 0px;
}

.j{
    display: flex;
    gap: 30px;
    width: 80%;
    justify-content: space-evenly;
}

.k img{
    height: 40px;
    width: 120px;
    display: block;
}
.p{
    width: 80%;
    height: auto;
    margin: auto;
}

img[src*="a12.png"] {
  width: 300px;  
  height: auto;  }
img[src*="a10.png"] {
    margin: 10px 10px 100px 10px;
  width: 300px;  
  height: auto;  }
.ij{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    color:red;
    background-color: yellow;
}
.ij h2{
  padding-left: 30%;
}

body {
  min-height: 100vh;
  margin: 0; 
  
  animation: colorchange 10s infinite alternate forwards;
}

@keyframes colorchange {
  0% {
    background-color:lightseagreen;  }
  25% {
    background-color: lightgreen; }
  50% {
    background-color:lightpink;}
  75% {
    background-color:lightgoldenrodyellow;}
  100% {
    background-color:lightcyan;}
}
body {
  font-family: Georgia, serif;
}
.lj{
    background-color: aqua;
    height:200px;
}
.locations {
  padding: 40px;
}

.location-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 40px;
}

.location-list li {
  font-size: 18px;
  font-weight: 600;
}

img[src*="images (1).png"] { width: 200%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;

    max-width: 400px;   
    padding-left: 40px;
    padding-bottom: 40px;
    height: 300px;  }
.ga {
  display: flex;
  width: 1500px;
  height: 450px;   }

.ga1, .ga2, .ga3 {
  flex: 1;  
   width: 340px;       
  border: 1px solid black; 
}
img[src*="kp1.jpg"] 
{
padding-left: 50px;

    height:300px;
    width:320px;
}
img[src*="a10.png"] 
{
padding-left: 50px;
    height:300px;
    width:350px;
}
.lj{

  display: flex;
  width: auto;
  height: 100px;   
}
.j {
  display: flex;
  width: auto;
  height: 400px;   }
  .l{  transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;

  }
  .l:hover{
    transform: scale(1.2); 
      opacity: 5.0;
      border: 5px solid red;    
  }
  .o{
  width:450px;
  height: 250px;
  padding:20px;
  background:red;
  border-radius:8px;
  box-shadow:0 0 10px #ccc;
  font-family:arial;
}

  .o input{
  width:100%;
  margin:8px 0;
  padding:8px;
}

.o button{
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
  width:400px;
  padding-left:28px;
  background:rgb(242, 255, 0);
  color:blue;
 font-size: larger;
}
.o button:hover{
transform: scale(1.1); 
      opacity: 2.0;
      border: 2px solid blue;    
}
